<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleGroup</key>
		<string>Basic</string>
		<key>items</key>
		<array>
			<dict>
				<key>titleCell</key>
				<string>Fill Color</string>
				<key>viewClass</key>
				<string>ViewFillColor</string>
			</dict>
			<dict>
				<key>titleCell</key>
				<string>Draw Line</string>
				<key>viewClass</key>
				<string>ViewDrawLine</string>
			</dict>
			<dict>
				<key>titleCell</key>
				<string>Basic Rectangle</string>
				<key>viewClass</key>
				<string>ViewBasicRectangle</string>
			</dict>
			<dict>
				<key>titleCell</key>
				<string>Rotate Rectangle</string>
				<key>viewClass</key>
				<string>ViewRotateRect</string>
			</dict>
			<dict>
				<key>titleCell</key>
				<string>Basic Path</string>
				<key>viewClass</key>
				<string>ViewBasicPath</string>
			</dict>
			<dict>
				<key>titleCell</key>
				<string>Draw Line by Tap</string>
				<key>viewClass</key>
				<string>ViewDrawLineTap</string>
			</dict>
			<dict>
				<key>titleCell</key>
				<string>Fill Path</string>
				<key>viewClass</key>
				<string>ViewFillPath</string>
			</dict>
            <dict>
                <key>titleCell</key>
                <string>Quadratic Bezier Curve</string>
                <key>viewClass</key>
                <string>ViewQuadraticBezierCurve</string>
            </dict>
            <dict>
                <key>titleCell</key>
                <string>Cubic Bézier Curve</string>
                <key>viewClass</key>
                <string>ViewCubicBezierCurve</string>
            </dict>
            <dict>
                <key>titleCell</key>
                <string>Draw Text</string>
                <key>viewClass</key>
                <string>ViewDrawText</string>
            </dict>
            <dict>
                <key>titleCell</key>
                <string>Gradient Round Rect</string>
                <key>viewClass</key>
                <string>ViewGradientRoundedRect</string>
            </dict>
            
		</array>
	</dict>
</array>
</plist>
